.active{
  border-bottom: white;
  border-bottom: 3px solid white;
}

.container-large{
    margin: auto;
    width: 1280px;
}

.container-medium{
    margin: auto;
    width: 960px;
}

.pull-right{
  float:right;
}

.pull-left{
  float:left;
}


.clearfix {
  overflow: auto;
  zoom: 1;
}

.mdl-data-table{
  width:100%;
}
